.grid-item {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 5px;
}

.grid-item .item {
	border: 1px solid #1d1d1d;
	border-radius: 10px;
	width: 24%;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid-item .item .card-body .image {
	padding: 10px;
	border-radius: 5px;
	border-bottom: 1px solid #cccccc;
}

.grid-item .item .comic-count {
	border-top: 1px solid #cccccc;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-criteria {
	font-weight: 500;
}

header {
	height: 80px;
	background-color: #cccccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchbox {
	padding-top: 20px;
}
